<!DOCTYPE html>
<html>
<body>
<div data-th-fragment="new-team-modal">

    <div class="modal" id="new_team" ng-app="app">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Nuevo Equipo</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <label>Nombre</label>
                            <input class="form-control"/>
                            <br/>
                            <div align="center">
                                <button type="button" class="btn btn-default btn-success" aria-label="Left Align">
                                    Guardar
                                </button>
                                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal"
                                        aria-label="Left Align">Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>