<!DOCTYPE html>
<html>
<body>
<div data-th-fragment="new-game-modal">
    <!--ng-controller="GameController as vm"-->
    <div class="modal" id="new_game" ng-app="app">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Nuevo Partido</h2>
                </div>
                <div class="modal-body">
                    <form name="newPlayerForm" ng-submit="createGame()">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <div ng-controller="TeamController as tm">
                                    <label>Equipo Visitante</label>
                                    <select class="form-control" ng-model="vm.activeGame.teamA">
                                        <option ng-repeat="team in tm.teams" value="{{team}}">{{team.name}}</option>
                                    </select>
                                    <br/>
                                    <label>Equipo Local</label>
                                    <select class="form-control" ng-model="vm.activeGame.teamB">
                                        <option ng-repeat="team in tm.teams" value="{{team}}">{{team.name}}</option>
                                    </select>
                                </div>
                                <br/>
                                <label>Estadio</label>
                                <input class="form-control" ng-model="vm.activeGame.stadio"/>
                                <p class="help-block">Ej: Camp Nou</p>
                                <br/>
                                <div align="center">
                                    <button type="submit" class="btn btn-default btn-success" aria-label="Left Align"
                                            onclick="$('.modal').modal('hide')">
                                        Comenzar partido ahora
                                    </button>
                                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal"
                                            aria-label="Left Align">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>