<!DOCTYPE html>
<html>
<body>
<div data-th-fragment="game-modal">

    <div class="modal" id="view_game" ng-app="app">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Partido Previo</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="panel panel-default">

                                <div class="panel-heading">
                                    <h3 class="panel-title">Final</h3>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4 text-center">{{vm.activeGame.teamA.name}}</div>
                                        <div class="col-lg-4 text-center">{{vm.activeGame.stadio}}</div>
                                        <div class="col-lg-4 text-center">{{vm.activeGame.teamB.name}}</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 text-center"></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 text-center">{{vm.activeGame.score_a}}</div>
                                        <div class="col-lg-4 text-center">vs</div>
                                        <div class="col-lg-4 text-center">{{vm.activeGame.score_b}}</div>
                                    </div>
                                </div>
                            </div>

                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li class="nav-item"><a href="#playbyplay" class="nav-link" role="tab"
                                                        data-toggle="tab">Play by
                                    Play</a>
                                </li>
                                <li class="nav-item"><a href="#statistics" class="nav-link" role="tab"
                                                        data-toggle="tab">Statistics</a>
                                </li>
                                <li class="nav-item"><a href="#linups" class="nav-link" role="tab" data-toggle="tab">Linups</a>
                                </li>
                            </ul>

                            <!-- Play by play tab -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade" id="playbyplay">
                                    <br />
                                    <div class="row text-center">
                                        <div class="card">
                                            <ul class="list-group list-group-flush">
                                                <div class="alert alert-info" ng-repeat="play in vm.plays">
                                                    <strong>{{play.minute + ' - ' + play.type}}</strong>
                                                    {{play.player.name + ' ' + play.player.lastName + ' - ' + play.commentary}}
                                                </div>
                                            </ul>
                                        </div>
                                    </div>

                                </div> <!-- Play by play tab -->

                                <!-- statistics tab-->
                                <div role="tabpanel" class="tab-pane active text-center" id="statistics">
                                    <h3>Statistics</h3>
                                    <br/>

                                    <div class="row text-center">
                                        <!--<div class="col-xs-6 text-center">-->
                                        <table class="table table-hover table-striped">
                                            <tr>
                                                <td>{{vm.activeGame.statistic.posesion_local}} %</td>
                                                <th class="text-center">Posesion</th>
                                                <td>{{vm.activeGame.statistic.posesion_away}} %</td>
                                            </tr>
                                            <tr>
                                                <td>{{vm.activeGame.statistic.fouls_local}}</td>
                                                <th class="text-center">Fouls</th>
                                                <td>{{vm.activeGame.statistic.fouls_away}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{vm.activeGame.statistic.yellow_local}}</td>
                                                <th class="text-center">Tarjetas Amarillas</th>
                                                <td>{{vm.activeGame.statistic.yellow_away}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{vm.activeGame.statistic.red_local}}</td>
                                                <th class="text-center">Tarjetas Rojas</th>
                                                <td>{{vm.activeGame.statistic.red_local}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{vm.activeGame.statistic.offside_local}}</td>
                                                <th class="text-center">Fuera de Lugar</th>
                                                <td>{{vm.activeGame.statistic.offside_away}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{vm.activeGame.statistic.corner_local}}</td>
                                                <th class="text-center">Tiros de esquina</th>
                                                <td>{{vm.activeGame.statistic.corner_away}}</td>
                                            </tr>
                                            <!--<tr>-->
                                                <!--<td>{{vm.activeGame.statistic.red_local}}</td>-->
                                                <!--<th class="text-center">Atajadas</th>-->
                                                <!--<td>{{vm.activeGame.statistic.red_local}}</td>-->
                                            <!--</tr>-->
                                        </table>
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!-- statistics tab-->

                                <!--Linups tab-->
                                <div role="tabpanel" class="tab-pane fade" id="linups">
                                    <br/>
                                    <!-- Local Team -->
                                    <div class="col-xs-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="text-align: center"><b>Equipo Local</b>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">Nombre</th>
                                                        <th class="text-center">Numero</th>
                                                        <th class="text-center">Posicion</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="localPlayer in vm.localPlayers">
                                                        <td>{{localPlayer.name + ' ' + localPlayer.lastName}}</td>
                                                        <td>{{localPlayer.number}}</td>
                                                        <td>{{localPlayer.position}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Local Team -->

                                    <!-- Away Team -->
                                    <div class="col-xs-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="text-align: center"><b>Equipo Visitante</b></div>
                                            <div class="panel-body">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">Nombre</th>
                                                        <th class="text-center">Numero</th>
                                                        <th class="text-center">Posicion</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="awayPlayer in vm.awayPlayers">
                                                        <td>{{awayPlayer.name + ' ' + awayPlayer.lastName}}</td>
                                                        <td>{{awayPlayer.number}}</td>
                                                        <td>{{awayPlayer.position}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Away Team -->
                                </div>
                                <!--Linups tab-->
                            </div>

                            <div align="center">
                                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal"
                                        aria-label="Left Align">Cerrar
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>