<!DOCTYPE html>
<html data-th-fragment="base_layout(title)">

<head>
    <title id="pageTitle" data-th-text="${title}">Page title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/sb-admin.css" data-th-href="@{/css/sb-admin.css}"/>
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"
          data-th-href="@{/font-awesome/css/font-awesome.min.css}" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/style.css" data-th-href="@{/css/style.css}"/>
</head>

<body>
<!-- Navigation bar -->
<div data-th-replace="fragments/header :: header"/>
<!-- Page Content wil go here-->
<div data-th-include="this :: content"/>

<!-- TODO: Footer (?)-->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/angular.min.js" data-th-src="@{js/angular.min.js}"></script>
<script type="text/javascript" src="/static/app/app.module.js" data-th-src="@{/app/app.module.js}"></script>

<script type="text/javascript" src="/static/app/game.controller.js" data-th-src="@{/app/game.controller.js}"></script>
<script type="text/javascript" src="/static/app/player.controller.js" data-th-src="@{/app/player.controller.js}"></script>
<script type="text/javascript" src="/static/app/team.controller.js" data-th-src="@{/app/team.controller.js}"></script>

</body>

</html>