<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title data-th-text="${title}">FootBoard</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" data-th-href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../static/css/custom.css" data-th-href="@{/css/custom.css}"/>
    <!--    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>-->
</head>

<body>
<div data-th-replace="fragments/header :: header">
</div>

<div class="container">
    <div data-th-fragment="content">
        <p>Content goes here...</p>
    </div>
</div>

</body>
</html>