<!DOCTYPE html>
<html>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-th-fragment="header">
    <div class="navbar-header">
        <a class="navbar-brand active" href="/home">FootBoard</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Juegos <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Ver juegos previos</a></li>
                <li><a href="#">Nuevo juego</a></li>
            </ul>
        </li>
        <!-- In case we want to edit something else than teams -->
        <!--<li class="dropdown">-->
        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrar <span class="caret"></span>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">Editar Equipos</a></li>-->
        <!--<li><a href="#">Profile</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <li><a href="#">Editar Equipos</a></li>
        <li><a href="/aboutus">Acerca de Nosotros</a></li>
        <!--TODO: Find out how to stuck this to the right-->
        <p class="navbar-text navbar-right">Hoy es 8 de Abril del 2017</p>
    </ul>
</nav>
</body>
</html>