<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

<div>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}"/>
</div>


<div th:fragment="copy">
    <p class="copyright">
        <small>Abril 2017 - Tecnicas Fundamentales Ingenieria de Software.</small>
    </p>
</div>

<div data-th-fragment="body-scripts" data-th-remove="tag">
</div>
</body>
</html>