<!DOCTYPE html>
<html data-th-include="/layout/layout :: base_layout(AboutUs)">
<body>
    <div data-th-fragment="content">
        <div class="text-center fsb-center">
            <h2 class="page-header">Acerca de Nosotros</h2>
            <p>Somos un equipo mediatico, apasionado del futbol, que se ocupa de brindar toda la informacion posible sobre todo partido de futbol perteneciente a la liga UEFA.</p>

            <div class="col-lg-12">
                <h3 class="page-header">Nuestro Equipo</h3>
            </div>

            <!--TODO: La foto junto al perfil no se quieren generar, asi creando un http 500-->

            <div class="row">
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200">
                    <h4>INSERTAR PERFIL</h4>
                    <p></p>
                </div>

                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200">
                    <h4>Alfonso Hernandez</h4>
                    <p>INSERTAR PERFIL</p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>