<!DOCTYPE html>
<html data-th-include="/layout/layout :: base_layout(Jugadores)">

<body>

<!--<div data-th-replace="fragments/header :: header">-->
<!--</div>-->

<div data-th-fragment="content">
    <div class="rown text-center">
        <div class="colum">
            <div class="card">
                <!--<td><img src="../static/img/fc-barcelona.png" data-th-src="@{/resources/img/fc-barcelona.png}" class="img-rounded" alt="" width="15%"></td>-->
                <img src="../static/img/fc-barcelona.png" data-th-src="@{/img/fc-barcelona.png}"
                     class="img-rounded" alt="" width="15%"/>
                <td><b data-th-text="${minute}">90</b></td>
                <td><b data-th-if="${minute > 90}" data-th-text="'+ ' + ${extra}">+5</b></td>
                <!--<td><img src="../static/img/real-madrid.png" data-th-src="@{/resources/img/real-madrid.png}" class="img-rounded" alt="" width="12%"></td>-->
                <img src="../static/img/real-madrid.png" data-th-src="@{/img/real-madrid.png}"
                     class="img-rounded" alt="" width="12%"/>
                <!--
                <br/>
                <td><b class="text-left" data-th-text="{$team_a_name}">Equipo A</b></td>
                <td><p class="text-center">Equipo goles</p></td>
                <span style="text-align:right;" data-th-text="{$team_a_name}">Equipo B</span>
    -->
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item"><a href="#playbyplay" class="nav-link" role="tab" data-toggle="tab">Play by Play</a>
            </li>
            <li class="nav-item"><a href="#statics" class="nav-link" role="tab" data-toggle="tab">Statics</a></li>
            <li class="nav-item"><a href="#linups" class="nav-link" role="tab" data-toggle="tab">Linups</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="playbyplay">

                <div class="row text-center">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1</li>
                            <li class="list-group-item">2</li>
                            <li class="list-group-item">3</li>
                            <li class="list-group-item">4</li>

                        </ul>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane active" id="statics">
                Statics
            </div>
            <div role="tabpanel" class="tab-pane fade" id="linups">
                <br/>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align: center"><b data-th-text="${name_a}">Equipo A</b></div>
                        <div class="panel-body">
                            <table class="table table-condensed table-summary table-borderless ">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Numero</th>
                                    <th>Posicion</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Lionel Messi</td>
                                    <td>10</td>
                                    <td>Delantero</td>
                                </tr>
                                <tr>
                                    <td>Neymar da Silva</td>
                                    <td>11</td>
                                    <td>Delantero</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align: center"><b data-th-text="${name_b}">Equipo B</b></div>
                        <div class="panel-body">
                            <table class="table table-condensed table-summary table-borderless ">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Numero</th>
                                    <th>Posicion</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Cristiano Ronaldo</td>
                                    <td>7</td>
                                    <td>Delantero</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" data-th-src="@{/js/bootstrap.js}"></script>

</div>
<!--    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>-->
</body>

</html>