<!DOCTYPE html>
<html data-th-include="/layout/layout :: base_layout('About Us')">
<body>
<div data-th-fragment="content">
    <div class="text-center fsb-center">
        <h2 class="page-header">Acerca de Nosotros</h2>
        <p>Somos un equipo mediatico, apasionado del futbol, que se ocupa de brindar toda la informacion posible sobre
            todo partido de futbol perteneciente a la liga UEFA.</p>

        <div class="col-lg-12">
            <h3 class="page-header">Nuestro Equipo</h3>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 text-center">
                    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200"/>
                    <h4>Luis Marrero</h4>
                    <p>Ingeniero en Sistema, egresado del INTEC, enfocado en el desarrollo y soporte de la plataforma Prepago de Claro Dominicana</p>
                </div>

                <div class="col-lg-6 col-sm-6 text-center">
                    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200"/>
                    <h4>Alfonso Hernandez</h4>
                    <p>Ingeniero en Sistema, egresado del INTEC, enfocado en el desarrollo y soporte de la plataforma Postpago de Claro Dominicana</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>