<!DOCTYPE html>
<html data-th-include="/layout/layout :: base_layout('About Us')" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div data-th-fragment="content">

    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Acerca de Nosotros</h1>
                <p>Somos un equipo mediatico, apasionado del futbol, que se ocupa de brindar toda la informacion posible
                    sobre
                    todo partido de futbol perteneciente a la liga UEFA.</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header">Nuestro Equipo</h2>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-circle img-responsive img-center" width="200px" th:src="@{/img/luijo-cv.jpg}"
                     src="../../static/img/luijo-cv.jpg"/>
                <h3>Luis Marrero</h3>
                <p>Ingeniero en Sistema, egresado del INTEC, enfocado en el desarrollo y soporte de la plataforma
                    Prepago de Claro Dominicana</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" width="200px" th:src="@{/img/alfonso-cv.jpg}"
                     src="../../static/img/alfonso-cv.jpg"/>
                <h3>Alfonso Hernandez</h3>
                <p>Ingeniero en Sistema, egresado del INTEC, enfocado en el desarrollo y soporte de la plataforma
                    Postpago de Claro Dominicana</p>
            </div>

        </div>

    </div>
</div>
</body>

</html>