<!DOCTYPE html>
<html data-th-include="/layout/layout :: base_layout(Home)">

<body background="../../static/img/soccer-background.jpg">
<div data-th-fragment="content">

    <div class="container">


        <hr/>
        <div class="row text-center">
            <div class="col-md-12 text-center">
                <div class="alert alert-warning">
                    <strong>Aviso Importante</strong>
                    <p>Esta aplicación es para el registro de la anotación de
                        un juego de fútbol (soccer) entre dos equipos. Ha sido realizada como parte de un proyecto para la asignatura de Técnicas
                        Fundamentales de Ingeniería de Software, en el Instituto Tecnológico de Santo Domingo</p>
                </div>
            </div>
        </div>
        <hr/>

    </div>
</div>
</body>
</html>