<!DOCTYPE html>
<html data-th-include="/layout/layout :: base_layout(Home)">

<!-- TODO: COLOCAR FOTO DE BACKGROUND-->

<body background="../../static/img/soccer-background.jpg">
<div data-th-fragment="content">
    <div class="text-center fsb-center">
        <div class="alert alert-warning">
            <strong>Información</strong>
            <p>Esta aplicación ha sido realizada como parte de un proyecto para la materia de Técnicas
                Fundamentales de Ingeniería de Software, en el Instituto Tecnológico de Santo Domingo</p>
        </div>
    </div>
</div>
</body>
</html>