<!DOCTYPE html>
<html data-th-include="/layout/layout :: base_layout(Juegos)">

<body>
<div data-th-fragment="content">
    <div ng-app="app" ng-controller="GameController as vm">
        <div class="text-center fsb-center">
            <h2 class="page-header">Partidos Guardados</h2>

            <div class="container-fluid">
                <!-- Search bar -->
                <form class="navbar-form navbar-right">
                    <span class="glyphicon glyphicon-search"></span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar"
                            ng-model="vm.search"/>
                    </div>
                </form>
                <!-- Search bar -->

                <!--Add button-->
                <div class="btn-group btn-group navbar-left" role="group" aria-label="...">
                    <button type="button" data-toggle="modal"
                            data-target="#new_game"
                            class="btn btn-default btn-success" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"/>
                    </button>
                </div>
                <!--Add button-->

            </div>
            <br/>
            <div class="col-lg-12">
                <!-- Display games in a table -->
                <table class="table table-bordered table-hover table-striped">
                    <thead align="center">
                    <tr>
                        <th class="text-center">Equipo Visitante</th>
                        <th class="text-center">Goles Visitante</th>
                        <th class="text-center">Estadio</th>
                        <th class="text-center">Goles Local</th>
                        <th class="text-center">Equipo Local</th>
                        <th style="width: 200px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="game in vm.games | filter:vm.search">
                        <td>{{game.teamA.name}}</td>
                        <td>{{game.score_a}}</td>
                        <td>{{game.stadio}}</td>
                        <td>{{game.score_a}}</td>
                        <td>{{game.teamB.name}}</td>
                        <td>
                            <div class="btn-group btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"
                                        data-toggle="modal" ng-click="vm.changeActiveGame(game) ; vm.getPlays(game); vm.getTeamLocal(game.teamA); vm.getTeamAway(game.teamB)"
                                        data-target="#view_game" aria-label="Left Align">
                                    <!--<span class="glyphicon glyphicon-expand" aria-hidden="true">Ver juego</span>-->
                                    <span>Ver detalles</span>
                                </button>
                                <button type="button" class="btn btn-default btn-danger"
                                        ng-click="vm.removeGame(game)"
                                        aria-label="Left Align">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"/>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div data-th-include="forms/new_game_form :: new-game-modal"/>
                <div data-th-include="forms/past_game :: game-modal"/>

            </div>
        </div>
    </div>
</div>
</body>
</html>